[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.5"
flask-cors = "==4.0.0"
python-dotenv = "==1.0.1"
flask-jwt-extended = "==4.5.3"
pymongo = "==4.5.0"
werkzeug = "==2.2.3"
mongoengine = "==0.27.0"

[dev-packages]

[requires]
python_version = "3.12"